<div class="container">
    <div class="jumbotron-fluid">
        <h1>Eat That Burger!</h1>
        <p>Create your burger and devour it!</p>
    </div>

    <div class="form-group">
        <label for="newBurger">Type name of burger</label>
        <textarea class="form-control" id="newBurger" rows="3"></textarea>
        <button type="submit" class="btn btn-info" id="addNewBurger">Submit</button>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="card">
                <h5 class="card-header">Available Burgers</h5>
                <div class="card-body">


                    {{#each burgers}}
                    {{#unless devoured}}
                    <div class="row">
                        <div class="col-9">
                            <span>{{this.id}} ~ {{this.burger_name}}</span>
                        </div>
                        <div class="col-3">
                            <button type="button" class="devourBurger btn btn-info" id="devourButton"
                                data-id="{{this.id}}" data-newDevoured="{{devour}}">Devour</button>
                        </div>
                    </div>
                    <hr>
                    {{/unless}}
                    {{/each}}

                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <h5 class="card-header">Devoured Burgers</h5>
                <div class="card-body">
                    {{#each burgers}}
                    {{#if devoured}}
                    <div class="row">
                        <div class="col-12">
                            <span> {{this.id}} ~ {{this.burger_name}}</span>
                        </div>
                    </div>
                    <hr>
                    {{/if}}
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>
</div>